QWidget#centralWidget {
    border: none;
    margin: 0px;
    background: #212121;
}

QWidget {
    margin: 0px 0px 0px 0px;
    background: #424242;
}

QTabWidget::pane {
    /* 解决令人发指的问题, 右/下白边 */
    border: none;
}

QLabel {
    background: transparent;
}

QPushButton#pushButtonList::checked, #pushButtonPlayer::checked, #pushButtonLyric::checked {
    background: #1e88e5;
}
